* {
    padding: 0;
    margin: 0;
}
body {
    width: 100%;
    font-family: "Microsoft YaHei", sans-serif;
    background-color: #fafafa;
}
a:link,a:visited,a:hover, a:active {
    text-decoration: none;
    color: inherit;
}

.topbox {
    height: 40px;
    background-color: #fff;
}
.top {
    width: 1200px;
    margin: 0 auto;
    line-height: 40px;
}
.top_text {
    display: inline;
    color: #29b078;
    font-size: 16px;
}
.top_img {
    float: right;
    margin-left: 20px;
}
.top img{
    vertical-align: middle;
}

.menubox {
    height: 100px;
    background-color: #29b078;
}
.menu {
    width: 1200px;
    margin: 0 auto;
    line-height: 100px;
}
.menu img {
    vertical-align: middle;
}
.menu ul {
    float: right;
    list-style-type: none;
}
.menu ul li {
    display: inline;
    color: #fff;
    font-size: 18px;
}
.menu ul li a {
    display: inline-block;
    height: 96px;
    width: 70px;
    text-align: center;
    margin-left: 15px;
}
.menu ul li a:hover {
    border-bottom: 4px solid #fff;
    border-bottom-style: inset;
    text-shadow: 2px 2px 3px green;
}

.mainbox {

}
.main {
    width: 1200px;
    margin: 0 auto;
}
.main_breaf {
    height: 60px;
    line-height: 60px;
}
#breaf_word {
    color: #29b078;
}
.main_breaf a:hover,a:active {
    text-decoration: underline;
    text-decoration-color: transparent;
}

.aspect {
    height: 58px;
    border-top: 1px solid #d0d6d9;
    border-bottom: 1px solid #edf1f2;
}
.gray {
    color: #999;
}
.white {
    color: #fff;
    display: inline-block;
    padding: 2px 10px;
    background-color: #29b078;
    margin: 18px 10px;
}
.block {
    padding: 0 10px;
    margin: 18px 10px;
    color: #333;
}
.aspect a:hover {
    text-decoration: underline;
}

.front {
    clear: both;
    height: 80px;
    line-height: 100px;
    border-bottom: 1px solid #d0d6d9;
    font-size: 16px;
    font-weight: 600;
}
.frontbox {
    width: 378px;
    font-size: 14px;
    color: #333;
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
    margin: 35px 22px 30px 0;
    border-radius: 5px;
    float: left;
    background-color: #fff;
    cursor: auto;
}
.mask {
    background-color: rgba(0,0,0,0);
    position: absolute;
    width: 378px;
    height: 69.3%;
    color: #fff;
    border-radius: 5px;
    z-index: 1;
    transition: all .5s;
}
.mask p {
    margin: 0 auto;
    width: 70%;
    text-indent: 2em;
    font-size: 16px;
    padding: 10px 0;
    opacity: 0;
    transition: all .5s;
}
.frontbox:hover .mask{
    background-color: rgba(0,0,0,.7);
}
.frontbox:hover .mask p {
    opacity: 1;
}
.front_img {
    margin: 0 12px;
    padding: 18px 0;
}
.front_img img {
    float: left;
    margin-right: 10px;
}
.block16 {
    font-size: 16px;
    font-weight: 600;
    color: #333;
    margin: 10px 0;
}
.block14 {
    font-size: 14px;
    color: #333;
}
.gray12 {
    font-size: 12px;
    color: #999;
}
.orange12 {
    font-size: 12px;
    color: #f01400;
    font-weight: bold;
}
.orange14 {
    font-size: 14px;
    color: #f01400;
}
.row_one {
    width: 100%;
    height: 45px;
    line-height: 45px;
    margin-top: 16px;
    border-top: 1px solid #edf1f2;
    border-bottom: 1px solid #edf1f2;
}
.row_one img {
    vertical-align: middle;
    margin-left: 5px;
    width: 15px;
}
.row_one_left {
    width: 40%;
    display: inline-block;
    border-right: 1px solid #edf1f2;
    text-indent: 12px;
}
.row_one_right {
    width: 58%;
    display: inline-block;
    text-indent: 6px;
}
.row_two {
    width: 100%;
    height: 45px;
    line-height: 45px;
    border-bottom: 1px solid #edf1f2;
}
.row_three {
    width: 100%;
    height: 135px;
    line-height: 45px;
    border-bottom: 1px solid #edf1f2;
}
.row_three_left {
    width: 40%;
    height: 100%;
    line-height: 135px;
    text-indent: 12px;
    float: left;
    display: inline-block;
    border-right: 1px solid #edf1f2;
}
.row_three_right {
    width: 58%;
    height: 33%;
    text-indent: 12px;
    float: left;
    display: inline-block;
    border-bottom: 1px solid #edf1f2;
}
.money_right {
    float: right;
    margin-right: 10px;
}
.row_four {
    width: 100%;
    height: 45px;
    line-height: 45px;
    text-indent: 12px;
    border-bottom: 1px solid #edf1f2;
}
.row_five {
    width: 100%;
    height: 45px;
    line-height: 45px;
    text-indent: 12px;
}



.footerbox {
    clear: both;
    background-color: #26a26f;
}
.footer {
    width: 1200px;
    margin: 0 auto;
    color: #fff;
}
.footer table {
    width: 1200px;
    color: #fff;
    padding: 35px 0 30px 0;
}
.footer>table p {
    display: inline;
    line-height: 30px;
    margin-right: 40px;
}
.lefttable {
    width: 380px;
    font-size: 14px;
    vertical-align: bottom;
}
.centertable {
    font-size: 14px;
    vertical-align: bottom;
    height: 50px;
}
.footer table a:hover {
    opacity: .9;
    border-bottom:  1px solid #fff;
}

.footer_line {
    height: 1px;
    background-color: #32c086;
}
.copyright {
    font-size: 14px;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}