body {
    width: 100%;
    max-width: 640px;
    font-family: "Microsoft YaHei", sans-serif;
    margin: 0 auto;
    font-weight: normal;
    padding: 0;
}
.header {
    padding: 2% 0;
    background-color: #29bde0;
    color: #fff;
}
.picleft {
    float: left;
    margin-left: 15px;
}
.text1{
    display: inline;
    font-size:2em;
    margin: 0 27%;
}
.picright {
    float: right;
    margin-right: 15px;
}
.xian {
    height: 1px;
    background-color:  #74d4eb;
}
.container {
    background-color:  #29bde0;
    color: #fff;
}
.picwin {
    text-align: center;
    padding-top: 4%;
}
.textwin {
    position: absolute;
    font-size: 3em;
    margin: -5% 0 0 14%;
    font-weight: 900;
    z-index: 1;
}
.textp {
    width: 70%;
    font-size: 1.9em;
    font-weight: 600;
    line-height: 1.5em;
    color: #ffc865;
    margin: 0 auto;
    padding-top: 2%;
}
.textcount {
    color: #fff;
    margin: 9% 0 0 15%;
    padding-bottom: 2.2%;
    font-size: 1.5em;
    line-height: 1.5em;
}
span {
    margin-right: 13%;
    line-height: 1.5em;
}
.day {
    padding: 2% 0;
    background-color: #fff;
}
.textday {
    display: inline;
    color: #515151;
    font-size: 2em;
    padding-left: 15%;
}
.texttime {
    padding-left: 50%;
    display: inline;
    color: #c7c7c7;
    font-size: 1em;
}
.textkill {
    color: #a6a6a6;
    font-size: 1.5em;
    line-height: 1.3em;
    padding: 2% 0 2% 15%;
    letter-spacing: .1em;
}
.footer {
    max-width: 640px;
    width: 100%;
    padding: 2% 0;
    position: fixed;
    bottom: 0;
    background-color:  rgba(41,189,224,.4);
    vertical-align: middle;
}
.btnleft {
    width: 50%;
    background-color: #f66f6f;
    border-radius: .3em;
    font-size: 2.6em;
    padding: 2.5% 6%;
    margin: 0 3.2%;
    display: inline;
}
.btnright {
    width: 50%;
    background-color: #fbb435;
    border-radius: .3em;
    font-size: 2.6em;
    padding: 2.5% 6%;
    margin: 0 3%;
    display: inline;
}